{% extends "base.html" %}
{% load static %}

{% block content %}

<main class="principal">
    <section class="conta">

      <div class="conta__container">
        <div class="checkout__titulos">
          <p class="checkout__titulo">Principais Indicadores</p>
        </div>
        <p>Faturamento: R$ {{ faturamento }} </p>
        <p>Produtos Vendidos: {{ qtd_produtos }} </p>
        <p>Total Pedidos: {{ qtd_pedidos }} </p>
      </div>

      <div class="conta__container">
        <div class="checkout__titulos">
          <p class="checkout__titulo">Exportar Relatórios</p>
        </div>

        <a href="{% url 'exportar_relatorio' 'pedido' %}" class="subtotal__botao">
            Exportar Pedidos
        </a>

        <a href="{% url 'exportar_relatorio' 'cliente' %}" class="subtotal__botao">
            Exportar Clientes
        </a>

        <a href="{% url 'exportar_relatorio' 'endereco' %}" class="subtotal__botao">
            Exportar Endereços
        </a>
      </div>

    </section>
</main>


{% endblock %}