{% extends "base.html" %}
{% load static %}

{% block content %}

<main class="principal">
    <section class="secao-checkout">
      <a href="{% url 'carrinho' %}" class="checkout__botao">Voltar ao carrinho</a>

      <div class="checkout">
        {% if erro %}

            {% if erro == "preco" %}
                <p>Preço dos produtos está errado, tente novamente ou volte para o carrinho.</p>
            {% endif %}

            {% if erro == "endereco" %}
                <p>Selecione um endereço de entrega.</p>
            {% endif %}

            {% if erro == "email" %}
                <p>Preencha um E-mail para confirmar a compra</p>
            {% endif %}
        {% endif %}

        <form
          class="checkout__form"
          action="{% url 'finalizar_compra' pedido.id %}"
          method="post"
        >
        {% csrf_token %}
          <!-- Adicionar a classe 'checkout__secao-entrega-login--logado' na div abaixo quando o usuário estiver logado -->
          {% if not request.user.is_authenticated %}
            <div
                class="checkout__secao-entrega-login"
            >
                <div class="checkout__secao-login">
                <div class="checkout__titulos">
                    <p class="checkout__titulo">Identifique-se</p>
                </div>

                <div class="checkout__endereco-item">
                    <label for="email">E-mail</label>
                    <input name="email" type="email" />
                </div>
                </div>

                <div class="checkout__secao-entrega">
                <div class="checkout__titulos">
                    <p class="checkout__titulo">Endereço de entrega</p>
                    <a
                    class="checkout__botao checkout__botao--entrega"
                    type="button"
                    href="{% url 'adicionar_endereco' %}"
                    >
                    Adicionar endereço de entrega
                </a>
                </div>

                {% for endereco in enderecos %}
                  <div class="checkout__pagamento-item">
                  <input type="radio" name="endereco" value="{{ endereco.id }}" />
                  <label for="{{ endereco.id }}"
                    >{{ endereco.rua }}, Nº {{ endereco.numero }}, CEP {{ endereco.cep }}, Cidade {{ endereco.cidade }} - {{ endereco.estado }}</label
                  >
                  </div>
                {% endfor %}
              </div>
            </div>
          {% else %}
          <div
          class="checkout__secao-entrega-login checkout__secao-entrega-login--logado"
      >
          <div class="checkout__secao-entrega">
          <div class="checkout__titulos">
              <p class="checkout__titulo">Endereço de entrega</p>
              <a
              class="checkout__botao checkout__botao--entrega"
              type="button"
              href="{% url 'adicionar_endereco' %}"
              >
              Adicionar endereço de entrega
              </a>
          </div>

          <div class="checkout__endereco-cadastrado">
             {% for endereco in enderecos %}
              <div class="checkout__pagamento-item">
              <input type="radio" name="endereco" value="{{ endereco.id }}" />
              <label for="{{ endereco.id }}"
                  >{{ endereco.rua }}, Nº {{ endereco.numero }}, CEP {{ endereco.cep }}, Cidade {{ endereco.cidade }} - {{ endereco.estado }}</label
              >
              </div>
             {% endfor %}
            </div>
           </div>
          </div>
          {% endif %}

          <div class="checkout__secao-pagamento-infos">
            <div class="checkout__secao-pagamento">
              <div class="checkout__titulos">
                <p class="checkout__titulo">Formas de Pagamento</p>
              </div>

              <div class="checkout__pagamento-formas">
                <div class="checkout__pagamento-item">
                  <p for="cartao_credito">Cartão de Crédito</p>
                </div>

                <div class="checkout__pagamento-item">
                  <p for="boleto">Boleto</p>
                </div>

                <div class="checkout__pagamento-item">
                  <p for="pix">PIX</p>
                </div>
              </div>
            </div>

            <div class="checkout__secao-infos">
              <div class="checkout__titulos checkout__titulos--mb">
                <p class="checkout__titulo">Resumo</p>
              </div>

              <div class="subtotal__infos">
                <p>Quantidade de Produtos</p>
                <p>{{ qtd_produtos_carrinho }}</p>
              </div>

              <div class="subtotal__infos subtotal__infos--sborda">
                <p>Total</p>
                <p>R$ {{ pedido.preco_total }}</p>
              </div>
              <input type="hidden" value="{{ pedido.preco_total }}" name="total">

              <button class="subtotal__botao" type="submit">
                Finalizar Pedido
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>
{% endblock %}