{% extends "base.html" %}
{% load static %}

{% block content %}

<main class="principal principal--padding-b principal--gap">
    <section class="s-produto">
      <div class="s-produto__carrossel">
        <div class="s-produto__carrossel-itens">
          <div class="s-produto__carrossel-img">
            <img
              src="{{ produto.imagem.url }}"
              alt="Imagem Carrossel 1"
            />
          </div>
          <div class="s-produto__carrossel-img" style="overflow: hidden">
            <img
              src="{{ produto.imagem.url }}"
              alt="Imagem Carrossel 2"
              style="transform: scale(1.6)"
            />
          </div>
        </div>

        <div class="s-produto__carrossel-botoes">
          <div
            class="s-produto__carrossel-botao s-produto__carrossel-botao--selecionado"
          ></div>
          <div class="s-produto__carrossel-botao"></div>
          <div class="s-produto__carrossel-botao"></div>
          <div class="s-produto__carrossel-botao"></div>
          <div class="s-produto__carrossel-botao"></div>
        </div>
      </div>

      <div class="s-produto__informacoes">
        <div class="s-produto__breadcrumbs">
          <span><a href="{% url 'loja' %}">Loja</a></span>
          <span><a href="{% url 'loja' %}{{ produto.categoria.slug }}">{{ produto.categoria.nome }}</a></span>
          <span><a href="{% url 'loja' %}{{ produto.categoria.slug }}-{{ produto.tipo.slug }}">{{ produto.tipo.nome }}</a></span>
          <span>
            <p>{{ produto.nome }}</p>
          </span>
        </div>

        <div class="s-produto__infos">
          <h1 class="s-produto__titulo">{{ produto.nome }}</h1>

          <p class="s-produto__preco">R$ {{ produto.preco }}</p>

          <div class="s-produto__cor">
            <p class="s-produto__cor-nome">Cor: <span>{{ cor_selecionada.nome }}</span></p>
            <div class="s-produto__cores">
              {% for cor in cores %}
              <a href="{% url 'ver_produto' produto.id cor.id %}"
                class="s-produto__cores-item"
                style="background-color: {{ cor.cod }}">
              </a>
              {% endfor %}
            </div>
          </div>
        {% if tem_estoque %}
            {% if tamanhos %}
            <form method="POST" action="{% url 'adicionar_carrinho' produto.id %}">
                {% csrf_token %}
                <div class="s-produto__tamanho">
                    <div class="s-produto__tamanhos">
                        {% for tamanho in tamanhos %}
                        <div class="menu__tamanho">
                            <div class="s-produto__tamanhos-item">{{ tamanho }}</div>
                            <input class="menu__checkbox" type="radio" name="tamanho" value="{{ tamanho }}">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <input type="hidden" name="cor" value="{{ cor_selecionada.id }}">
                <button type="submit" class="s-produto__adicicionar">Adicionar à sacola</button>
            </form>
            {% endif %}
        {% else %}
        <h3>Item fora de estoque.</h3>
        {% endif %}
        </div>

        

        <div class="s-produto__descricao">
          <p class="s-produto__descricao-titulo">Descrição do produto</p>
          <div class="s-produto__descricao-textos">
            <p>
              {{ produto.nome }}
            </p>
            <p>
              CÓDIGO DO PRODUTO <br />
              Ref: <span>{{ produto.id }}</span>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="similares">
      <h2 class="similares__titulo">
        Gostou desse produto? Veja itens similares
      </h2>

      <div class="similares__container">
        {% for similar in similares %}
            <a
            href="{% url 'ver_produto' similar.id %}"
            class="produto"
            >
            <div class="produto__imagem">
                <img
                src="{{ similar.imagem.url }}"
                alt="Imagem do Produto"
                />
            </div>
            <div class="produto__textos">
                <p class="produto__titulo">{{ similar.nome }}</p>
                <div class="produto__preco">
                <p class="produto__avista">R$ {{ similar.preco }}</p>
                
                </div>
            </div>
            </a>
        {% endfor %}
      </div>
    </section>

  </main>

{% endblock %}